loggers:
  root:
    level: info
    handlers:
      - stdout_json
      - rolling_json_file

  # lets configure package level loggers
  main:
    level: debug
    handlers:
      - stdout_json
      - file_plain
      - rolling_json_file
  controller:
    level: warning
    handlers:
      - stdout_json
      - rolling_json_file

  # this logger is kinda pointless but possible - 'handlers' could left empty (temporarily?) so logs do not go anywhere making the logger silent
  no_handler:
    level: debug
    handlers:

  # this logger is also silent but not because of not having 'handlers' but because of log level
  silent_level:
    level: none
    handlers:
      - stdout_json

# These are appenders config
handlers:
  # This handler logs to STDOUT in structured JSON format
  stdout_json:
    level: debug
    encoding: json
    outputPaths:
      - stdout
  # While this one is into a log file in Plain (console) format
  file_plain:
    level: debug
    encoding: console
    outputPaths:
      - './my-plain-log-file.log'
  # This is logging into a file in JSON format which is rotated by size and kept only for 14 days max
  # So amount of log occupied on disk is controllable
  # IMPORTANT!! This will not work on Windows! See CHANGELOG. Only on inux based systems it will work
  rolling_json_file:
    level: debug
    encoding: json
    rollingFile:
      file: './my-rolling-log-file.jsonl'
      maxSizeMb: 1
      maxAgeDays: 14
      #maxBackups: 100
      compress: true


